In [131]:
import pandas as pd

In [132]:
articles = pd.read_csv('../dataset/articles_with_id.csv')

In [133]:
articles['category'].value_counts()

category
poder                           22022
colunas                         21622
mercado                         20970
esporte                         19730
mundo                           17130
cotidiano                       16967
ilustrada                       16345
opiniao                          4525
paineldoleitor                   4011
saopaulo                         3955
tec                              2260
tv                               2142
educacao                         2118
turismo                          1903
ilustrissima                     1411
ciencia                          1335
equilibrioesaude                 1312
sobretudo                        1057
bbc                               980
folhinha                          876
empreendedorsocial                841
comida                            828
asmais                            548
ambiente                          491
seminariosfolha                   379
serafina                          334
o-melhor-de-sao-paulo             189
vice                              146
guia-de-livros-discos-filmes      143
topofmind                          86
banco-de-dados                     64
dw                                 48
infograficos                       43
cenarios-2017                      43
especial                           43
rfi                                29
guia-de-livros-filmes-discos       28
multimidia                         27
treinamento                        21
treinamentocienciaesaude           18
mulher                             16
euronews                            8
ombudsman                           3
contas-de-casa                      2
musica                              1
2016                                1
bichos                              1
2015                                1
Name: count, dtype: int64

In [134]:
articles = articles[~articles['text'].isnull()]

In [135]:
articles = articles[(articles['title'].str.len() > 40) & (articles['text'].str.find('.') > 150)]

In [136]:
articles['title'] = articles['title'].apply(lambda x : x.replace("\n", " "))
articles['text'] = articles['text'].apply(lambda x : x.replace("\t", " "))

In [137]:
articles['title'] = articles['title'].apply(lambda x : x.strip())
articles['text'] = articles['text'].apply(lambda x : x.strip())

In [138]:
# filter dataset
generated = pd.read_csv('generated_sample.csv', names=['ID', 'title', 'text'])

In [139]:
generated

,ID,title,text
0,99133,Relator do Orçamento defende corte de R$ 10 bi...,"O relator do Orçamento, deputado Ricardo Barro..."
1,159054,"Com estreias e abundância de meias, peso de Va...","Com um meio-campo ofensivo renovado, o Palmeir..."
2,65560,Reino Unido pode deportar brasileira que pediu...,"Uma brasileira grávida, Deiseane Santiago, que..."
3,17810,Rowhani vence conservador e é reeleito preside...,"O atual presidente do Irã, Hasan Rowhani, foi ..."
4,115777,"Temos que evitar remédios amargos, diz Temer a...",Em meio a tensões políticas e buscando soluçõe...
...,...,...,...
1695,100123,Movimento antirracista sacode universidades de...,O movimento antirracista ganha força nas unive...
1696,147892,Senado aprova benefício para pequenas empresas...,O Senado aprovou um projeto que visa beneficia...
1697,97069,"Em 13 anos, dobra número de cidades com ensino...",O número de municípios com instituições de ens...
1698,118388,Estudantes buscam trabalho e pressionam taxa d...,A busca por emprego entre estudantes universit...
1699,110454,Governo sofre derrota após reforma e não conse...,O governo sofreu sua primeira derrota no Congr...

In [140]:
articles = articles[~articles['ID'].isin(generated['ID'].to_list())]

In [157]:
arc = articles.sample(1300)

In [160]:
def truncate_text(text):
    try:
        if len(text) > 500:
            tokens = text.split(' ')
            ts = tokens[:500]
            return ' '.join(ts)
        else:
            return text
    except:
        print("ERROR: ", text)

arc['text'] = arc['text'].apply(truncate_text)

In [162]:
arc[['title', 'text', 'ID']].to_csv('human_sample.csv', index=False)